@tailwind base;
@tailwind components;
@tailwind utilities;

body {

    background: #FFF;
    font-family: 'Roboto Light';
}

@font-face {
    font-family: 'Roboto Light';
    src: url(/src/assets/fonts/RobotoLight.ttf);
}

@font-face {
  font-family: 'AmpleSoft Bold';
  src: url(/src/assets/fonts/AmpleSoftBold.ttf);
}


@font-face {
    font-family: 'AmpleSoft Regular';
    src: url(/src/assets/fonts/AmpleSoftRegular.ttf);
}

@font-face {
  font-family: 'AmpleSoft Medium';
  src: url(/src/assets/fonts/AmpleSoftMedium.ttf);
}

@font-face {
    font-family: 'AmpleSoft Light';
    src: url(/src/assets/fonts/AmpleSoftLight.ttf);
}

.amplesoft-bold {

  font-family: 'AmpleSoft Bold'!important;
}

.amplesoft-medium {

  font-family: 'AmpleSoft Medium'!important;
}

.cut-name {

    font-family: 'AmpleSoft Regular';
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #BA0405;
}

.login-title {

  font-size: 2.5rem;
  color: #FFF;
  font-family: 'AmpleSoft Bold';
  text-align: center;

}

.check-cep-button button {

  background-color: #FF0000;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 1.0rem;
  font-family: 'AmpleSoft Bold';
  padding: 6px 20px;
  border-radius: 5px;
  transition: 0.6s;
}

.login-button button {

  background-color: #FF0000;
  color: #FFF;
  font-size: 1.563rem;
  font-family: 'AmpleSoft Bold';
  padding: 12px 50px;
  border-radius: 5px;
  transition: 0.6s;


}

.sign-up-text span {
  
  color: #FF0000;
  font-family: 'AmpleSoft Light';
  font-size: 1rem;

}

.sign-up-text a {

  color: #FF0000;
  font-family: 'AmpleSoft Bold';
  text-decoration: underline;
}

.login-button button:hover {

  background-color: #b70a07;
}

.login-title-red {

  font-size: 2.0rem;
  color: #FF0000;
  font-family: 'AmpleSoft Bold';
  text-transform: uppercase;

}

.step-number {


  font-size: 1.8rem;
  font-family: 'AmpleSoft Bold';
}

.step-text {

  font-family: 'AmpleSoft Medium';
}

.social-login {

  width: 21.25rem;
  height: 56px;
  border-radius: 10px;
  background-color: #ff0000b1;
}

.social-login span {

  color: #FFF;
  font-family: 'AmpleSoft Light';
  font-size: 1.25rem;
}

.login-text {

  color: #FFF;
  font-family: 'AmpleSoft Light';
}

.login-social-text {

  color: #FFF;
  font-family: 'AmpleSoft Bold';
  font-size: 1.313rem;
}

.input-login-label {

  font-size: 1rem;
  color: #023047;
  font-family: 'AmpleSoft Regular';

}

.input-component input {

  width: 100%;
  height: 45px;
  background-color: rgba(220, 220, 220, 0.102);
  border: #000 solid 1px;
  border-radius: 10px;
  padding: 0px 20px;
  font-family: 'AmpleSoft Regular';
  font-size: 1rem;
  color: #000;
  outline: none;
  
}

.input-component input:disabled {

  background-color: rgba(220, 220, 220, 0.526);
}

.input-component-error input {

  border: #FF0000 solid 1px!important;
  background-color: #ff000058!important;

}

.error-message {

  color: #FF0000;
  animation: errorBounce .6s infinite;
}

@keyframes errorBounce {
  
  0% {
    transform: translateX(0);
  }

  20% {

    transform: translateX(-3px);
  }

  100% {

    transform: translateX(3px);
  }
}

.input-component input:focus {

  border: #000 solid 2px;
  outline: none;
}

.input-component select {

  width: 100%;
  height: 45px;
  background-color: rgba(220, 220, 220, 0.102);
  border: #000 solid 1px;
  border-radius: 10px;
  padding: 0px 20px;
  font-family: 'AmpleSoft Bold';
  font-size: 1.25rem;
  color: #000;
  
}

.toast-animation {

  animation: toastAnima 2s linear forwards;
  animation-delay: 1s;
  
}

@keyframes toastAnima {
  
  0% {

    top: 0.75rem;
  }

  100% {

    top: -50px;
    background-color: red;  
  }
}



.input-component input::placeholder {

  color: rgba(255, 255, 255, 0.642);
}

.carousel {

    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {

    display: none;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color: white;
  }

th {

    text-align: center;
}

.input-container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .input-container label {
    position: absolute;
    pointer-events: none;
    transform: translate(0, 23px) scale(1);
    transform-origin: top left;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    color: rgb(184, 184, 184);
    font-size: 1rem;
    line-height: 1;
    top: -5px;
    left: 12px;
  }

  .input-container:focus-within label {
    transform: translate(-11px, -5px) scale(0.8);
    color: #830C0B;
  }

  .input-container:focus-within {

    margin-top: 20px;
  }

  .label-active {

    transform: translate(-11px, -5px) scale(0.8)!important;
    color: #830C0B!important;
  }

  .bg-table {

    background-image: linear-gradient(to right bottom, #d00000, #bc0405, #a90708, #960a0a, #830c0b);
    box-shadow: 0px 15px 20px 10px rgba(0, 0, 0, 0.219);
  }

  .single {

    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.06);
    border-radius: 100px;
    width: 32%;
    height: 180px;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    padding: 0.25rem;

  }

  .single-image {

    width: 9.375rem;
    height: 9.375rem;
    display: flex;
    object-fit: cover;
    overflow: hidden;
    border-radius: 9999px;
    margin-left: 0.75rem;

  }

  .login-gradient {

    background-image: linear-gradient(to right bottom, #023047, #023047, #023047, #023047, #023047);
  }

  

  .single-image img {

    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  @media screen and (max-width: 1715px) {
    
    .single {

      width: 32%;
      height: 160px;
    }

    .single-image {

      width: 8.5rem;
      height: 8.5rem;
    }

    .cut-name {

      font-size: 1rem;
    }

    .input-single {

      font-size: 0.8rem;
    }

    .input-container label {

      font-size: 0.8rem;
    }

    .input-container:focus-within label {
      transform: translate(-11px, -5px) scale(0.8);
      color: #830C0B;
      font-size: 1rem;
    }
  
    .input-container:focus-within {
  
      margin-top: 20px;
      
    }
  
    .label-active {
  
      transform: translate(-11px, -5px) scale(0.8)!important;
      color: #830C0B!important;
      font-size: 1rem;
    }
  }


  @media screen and (max-width: 1604px) {
    
    .single {

      width: 32%;
      height: 180px;
    }

    .single-open {

      width: 28.5rem;
      height: 150px;
    }
  }


  @media screen and (max-width: 1536px) {
    
    html {
      font-size: 95%;
    }

    .input-component input {

      width: 100%;
      height: 40px;
      background-color: rgba(220, 220, 220, 0.102);
      border: #FF0000 solid 1px;
      border-radius: 10px;
      padding: 0px 20px;
      font-family: 'AmpleSoft Bold';
      font-size: 1.25rem;
      color: #FF0000;
      
    }

    .input-component select {

      width: 100%;
      height: 40px;
      background-color: rgba(220, 220, 220, 0.102);
      border: #FF0000 solid 1px;
      border-radius: 10px;
      padding: 0px 20px;
      font-family: 'AmpleSoft Bold';
      font-size: 1.25rem;
      color: #FF0000;
      
    }

    .single {

      width: 32%;
      height: 180px;
    }

    .single-open {

      width: 32%;
      height: 150px;
    }
  }

  @media screen and (max-width: 1368px) {

    html {
      font-size: 90%;
    }

    
  }

  @media screen and (max-width: 1368px) {
    
    .single {

      width: 32%;
      height: 175px;
    }

    .single-open {

      width: 49%;
      height: 140px;
    }
  }

  @media screen and (max-width: 1280px) {
    
    .single {

      width: 23.5rem;
      height: 150px;
    }

    .social-login {

      width: 18.25rem;
      height: 56px;
      border-radius: 10px;
      background-color: #ff0000b1;
    }


  }

  @media screen and (max-width: 1200px) {
    
    .single {

      width: 23%;
      height: 350px;
      flex-direction: column;
      justify-content: center;
      border-radius: 30px;
    }

    .single-image {

      margin-left: 0;
    }

    .single-inputs {

      margin-left: 0;
    }

    .input-single {

      width: 100%;
    }

    .single-open {

      width: 31%;
    }
  }

  @media screen and (max-width: 1024px) {
    
    .single {

      width: 31%;
      height: 350px;
    }

    .single-open {

      width: 48%;
    }

    .social-login {
      width: 17.25rem;
      height: 50px;
      border-radius: 10px;
      background-color: #ff0000b1;
    }

    html {
      font-size: 80%;
    }
  }

  @media screen and (max-width: 850px) {
    
    .single {

      width: 31%;
    }

    .single-open {

      width: 46%;
    }
  }

  @media screen and (max-width: 768px) {

    .single {

      width: 48%;
    }
    
    .single-open {

      width: 100%;
    }

    html {
      font-size: 90%;
    }
  }

  @media screen and (max-width: 540px) {

    .single {

      width: 100%;
      align-items: start;
      padding: 20px;
    }

    .single-image {

      display: flex;
      justify-content: center;
      width: 100%;
    }

    .single-image img {

      width: 130px;
      height: 130px;
      border-radius: 9999px;
    }

    .single-inputs {

      width: 100%;
    }
    
    .sidebar-open {

      width: 100vw;
      flex: none;
    }

    
  }